<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/header', {title: 'Home'}) %> 
     <main class="main-container">
        <div class="container">
             <h2><%= titulo %></h2> 
             <form action="/contactos" method="POST" class="form-control">
                <label>Nome</label>
                <input type="text" name="name" placeholder="Seu nome..." requered>
                <label>E-mail</label>
                <input type="text" name="email" placeholder="Seu e-mail..."requered>
                <label>Mensagem</label>
                  <textarea name="description" placeholder="Deixe uma mensagem" cols="45" rows="6" required></textarea>
                <button type="submit" class="form-control-btn">Enviar</button>
             </form>
                <h2>Contactos das redes sociais</h2>
                <p style="text-align: center">Siga-me nas minhas redes sociais para estar por dentro de tudo e não perder nada.</p>
                
                <div class="contactos">
                    <div class="email2">
                        <span class="email">
                            <img src="/images/email (2).png">
                            <span class="span">baptistapsicologo@yahoo.com</span>
                        </span>
                         <span class="telefone">
                             <img src="/images/telefone (2).png">
                             <span class="span2">+244925049871 | 951795214</span>
                         </span>
                    </div>
                    <div class="icon-redes">
                        <a href="/www.facebook.com/josenzinga.baptista" target="_blank"><img src="/images/facebook_1.webp"></a>
                        <a href="/www.whatsapp.com"><img src="/images/whatsap_2a.webp"></a>
                        <a href="/"><img src="/images/instagram.jpg" alt="Instagram"></a>
                    </div>
                </div>
              
             </div>
        </div>
     </main>
    <%- include('partials/footer', {title: 'Home'}) %>
</body>
</html>