<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-content-portible" content="IE=edge">
    <meta name="description" content="apresentação do site de orientação psicológica na matéria de orientação de casais, resolução de conflitos familiares, vinculos humanos, e psicoterapia de casais">
    <meta name="key-words" content="Psicologia, Psicólogo, amorosos, vinculos, resolução, psicoterapia, conflitos, casal, casais, familiares">
    <meta name="author" content="Jose Baptista">

    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
</head>
<body>
  <%- include('partials/header', {title: 'Home'}) %>
   <main class="main-container">

        <div class="container">
          <h1 class="author-intro">José Baptista | Psicólogo</h1>
          <div class="author-photo">
          <h2><%= titulo %></h2>
          <img src="/images/jose002.jpg" alt="Foto do Autor">
          </div>
          <div class="content">
            <div class="apresentacao">
              <h3>Seja bem-vindo(a) ao Psicologia A Dois!</h3>
              <p>Eu sou José Baptista, Psicólogo com mestrado em Psicologia Social e apaixonado por compreender os vínculos humanos. Este espaço é dedicado a quem busca melhorar sua vida afectiva, seja através do autoconhecimento, do diálogo consciente ou da resconstrução de laços. </p>
              <p>Aqui você ter reflexões, orientações práticas e conteúdos pensados para ajudar indíviduos e casais cultivarem relacionamentos mais saudáveis e satisfatorios.</p>
              <p>Vamos juntos transformar a forma como nos conectamos.</p>
              <div class="service-btn-container">
                <a href="/agendar" class="service-btn">Agendar uma conversa</a>
                <a href="/blogue" class="service-btn">Explorar Conteúdos</a>
                </div>
            </div>
          <div class="image">
           <img src="/images/mãos dadas.webp" alt="Pessoas com Mãos dadas" style="width: 400px; height: 500px">
          </div>
          </div>
        </div>
          <br><br>
   </main>
  <%- include('partials/footer', {title: 'Home'}) %>
</body>
</html>