
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bege: #F5F5DC;
    --color-light-blue:rgb(200, 173, 230);
    --color-green-olive: #B5C99A;
    --color-prata: #ECECEC;
    --color-light-black: #333333;
    --color-light-grey:rgb(110, 131, 117);
    --color-light-green:rgba(16, 247, 85, 0.62);
    --font-weight-bold: 800;
    --font-weight-normal: 400;
    --font-weight-small: 200;
    --font-size-smaller: .5rem;
    --font-size-small: 1rem;
    --font-size-small-mini: 1.2rem;
    --font-size-normal: 1.5rem;
    --font-size-big: 2rem;
    --font-size-bigger: 5rem;
    --font-family-Open-Sans: "Open Sans", sans-serif;
    --font-family-Montserrat: "Montserrat", sans-serif;
    --font-family-Playfair: "Playfair Display", serif;
}

body{
    background-color: var(--color-bege);
    color: var(--color-light-black);
    font-family: var(--font-family-Playfair);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
}

/* Header*/
.topo-container{
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bege);
    border-bottom: 3px solid var(--color-white);
}

.author-photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-prata);

    img{
        margin-right: 12px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
}

.logo{
    margin: 20px;
    a{
        text-decoration: none;
        color: var(--color-light-blue);
        font-size: var(--font-size-normal);
        font-family: var(--font-family-Playfair);
    }
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin-right: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--color-green-olive);
    font-family: var(--font-family-Montserrat);
}

/* Rodapé */
.rodape{
    width: 100%;
    height: 120px;
    /* position: fixed;
    bottom: 0; */
    z-index: 10;
    background-color: var(--color-bege);
    border-top: 2px solid var(--color-white);

    .footer-content{
        margin-top: 40px;

         p{
        text-align: center;
        font-size: var(--font-size-small);
       
        a{
            text-decoration: none;
            color: var(--color-light-blue);
             margin-top: 50px;
        }
    }
    }
   
}

/* Página Home */
/* Container Principal*/
.main-container{
    /* max-height: 60vh; */
    padding-block: 90px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container Secundario*/
.container{
    width: 900px;
    margin: 0 auto;

    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
        line-height: 39px;
        font-family: var(--font-family-Montserrat);
        color: var(--color-green-olive);
    }

    h3{
        text-align: center;
        margin: 30px 0 30px 0;
        line-height: 39px;
        font-family: var(--font-family-Montserrat);
        margin: 30px 0 30px 0;
        color: var(--color-green-olive);
    }

    p{
        text-align: left;
        font-size: var(--font-size-normal-mini);
        line-height: 30px;
        margin-bottom: 30px;
    }
}

/* Conteúdo do lado esquerdo do home*/
.content{
    display: flex;
    align-items: center;
    gap: 20px;

}

.apresentacao{
    width: 450px;
    padding: 20px;
}

/*Botões de conversa e agendar e conteudo.*/
.service-btn-container{
        width: 860px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 50px;
        display: flex;
        gap: 20px;
        /* Link de botões agendar e conteudo*/
        a{
            text-decoration: none;
        }
    }

    .service-btn{
        width: 23%;
        padding: 5px;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid var(--color-light-blue);
        color: var(--color-green-olive);
        font-size: var(--font-size-small);
        cursor: pointer;
        text-align: center;
    
    }


    .service-btn:hover{
        background-color: var(--color-light-black);
        color: var(--color-white);
    }

    /* lado direito da home IMAGEM*/
    .image{
        margin: 0 auto;
    }



/* Formulario geral da pagina agendar e ... */

.form-control{
    margin: 0 auto;
    width: 470px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-light-blue);
    background-color: var(--color-bege);
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 80px;
    gap: 10px;

    label{
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-bold);
    }

    input, textarea, select{
        padding: 7px;
        border: 0;
        outline: none;
        border-radius: 4px;
    }
}

.form-control-btn{
        width: 60%;
        padding: 5px;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid var(--color-black);
        margin-left: 20%;
        color: var(--color-green-olive);
        font-size: var(--font-size-normal);
        cursor: pointer;
    }

    .form-control-btn:hover{
        background-color: var(--color-black);
        color: var(--color-light-blue);
    }

/* PAGINA SOBRE*/
.informacao{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 200px;
}

.sobre-mim{
    width: 560px;
    padding: 12px;
}

/* Pagina do blogue */
 .card-title{
        color: var(--color-green-olive);
    }
.card{
    width: 560px;
    height: 470px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--color-light-blue);
    padding: 40px;
    margin-bottom: 40px;
    border: 2px solid var(--color-black);

    p{
        text-align: justify;
        color: var(--color-light-grey);
        line-height: 1.4em;
       
    }

    .img{
        margin-top: 10px;
        width: 200px;
        
    }
}

/* Pagina de contactos */
.contactos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    margin-bottom: 30px;
    /* background-color: var(--color-light-grey); */
    /* width: 600px; */
}
.email2{
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
    gap: 10px;
    margin-left: 15%;


    img{
        width: 30px;
        height: 30px;
    }

    .email{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        color: var(--color-green-olive);
    }

    .span{
        margin-top: 4px;
    }
}

.telefone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* gap: 10px; */
    margin-left: 6px;

    img{
        width: 30px;
        height: 30px;
    }

    .span2{
        margin-bottom: 10px;
        color: var(--color-green-olive);
    }
}

.icon-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    margin-bottom: 40%;
    gap: 30px;

    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.icon-redes::before{
    content: '';
    height: 90px;
    width: 7px;
    background-color: var(--color-green-olive);
    top: 100%;
    left: 0;
}

/* Página de depoimentos*/

.depoi-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    gap: 10px;
}

.depoimento{
    width: 400px;
    padding: 10px;
    background-color: var(--color-light-black);
    border-radius: 12px;
    border: 2px solid var(--color-light-blue);

    .card-content{
        display: flex;
        justify: space-between;
        align-items: center;
        gap: 20px;
    }

    h4{
        color: var(--color-green-olive);
        font-size: var(--font-size-normal)
    }

    p{
        color: var(--color-bege);
    }

}


/* Página de serviços*/
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 70px;
    margin-left: 70px;
}

.service-card{
    width: 380px;
    background-color: var(--color-light-black);
    color: var(--color-bege);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    h3{
        margin-bottom: 10px;
        color: var(--color-green-olive);

    }

    p{
        line-height: 1.5rem;
        margin-bottom: 20px;
    }

    .service-card-btn{
        text-decoration: none;
        color: var(--color-bege);
        border: 2px solid var(--color-light-blue);
        cursor: pointer;
        padding: 7px;
        border-radius: 12px;
        
    }

     .service-card-btn:hover{
        background-color: var(--color-light-blue);
        color: var(--color-light-black);
     }
}



/* Responsividade*/
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }

  .topo-container{
    background-color: var(--color-cream);
  }

  .rodape{
    background-color: var(--color-cream);
  }
}

@media screen and (max-width: 680px){
    body{
        background-color: var(--color-white);
    }

    .topo-container{
        background-color: var(--color-black);
    }

    .rodape{
        background-color: var(--color-black);
    }
}