<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
    <footer>
        <p>&copy; <a href="/">2025 2N <span>Psychology</span></a></p>
    </footer>
</body>
</html>