<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="topo-container">
           <div class="logo">
                <p><a href="/"><img src="/images/psicologia_a_dois.png" alt="Logo Tipo"></a></p>
              
            </div>
        <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre Mim</a></li>
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/agendamento">Agendamentos</a></li>
                    <li><a href="/blogue">Blogue</a></li>
                    <li><a href="/depoi">Depoimentos</a></li>
                    <li><a href="/contacto">Contactos</a></li>
                </ul>   
        </nav>
    </header>
</body>
</html>